* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 150px auto;
  grid-template-rows: 150px auto;
  grid-template-areas:
    "a b"
    "a c";
}

nav {
  grid-area: a;
}

.menu {
  background-color: #fff;
}
.content {
  grid-area: c;
  background-color: yellow;
}

/* 

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
  color: #ccc;
}

body {
  background-color: #ccc;
}

button {
  display: block;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

button img {
  width: 150px;
  height: auto;
}

ul {
  display: block;
  width: 180px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 12px 16px;
  height: 25px;
  border: 1px solid white;
}

/* 
Classes & ID's 
 */
/* 
.color-Content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  text-decoration: none;
  list-style-type: none;
}

.dropBtn {
  margin-top: 15px;
  padding: 15px;
  border: none;
  font-weight: bold;
}

.menu {
  position: relative;
  display: inline-block;
}

.show {
  display: block;
  transition-duration: 0.8s;
}

#colorList {
  left: 0px;
  top: 195px;
}
 */

/* UL List colors */
/* 
#blue,
.blue {
  background-color: #4343ff;
}
#home,
.home {
  background-color: #ccc;
}
#green,
.green {
  background-color: #338b33;
}
#red,
.red {
  background-color: #ff3e3e;
}
#yellow,
.yellow {
  background-color: #fcfc52;
}
 */
